<!DOCTYPE html>
<html>
<head>
  <title>BobbyGeek</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="http://s8.postimg.org/ipp446wdt/favicon_2.png">
  
</head>
<body>
	
	<% flash.each do |name, msg| %>
	  <div><%= msg %></div>
	<% end %>

	<%= yield %>

</body>
</html>
