<!DOCTYPE html>
<html>
<head>
  <title>Suggestotron</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="http://img2.wikia.nocookie.net/__cb20140802162318/destinypedia/images/f/f4/Iron_Banner_emblem.png">
  
</head>
<body>
	
	<% flash.each do |name, msg| %>
	  <div><%= msg %></div>
	<% end %>

	<%= yield %>

</body>
</html>
